<section class="main-content">
	<div class="interaction-page">
		
	   <div class="content-view-cover" *ngIf="MESSAGE_ENGAGEMENT; else GETTING_STARTED">
			<div class="content-view" *ngFor="let msg of MESSAGE_ENGAGEMENT">
				<div class="message" >
					<p>
						{{msg.prompt}}
					</p>
				</div>
				<div class="response">		
					<img [src]="userProfile"
						class="user-image"
						alt="profile image">
					<p class="response" [innerHTML]="renderDescription(msg.response)"></p>
				</div>
			</div>
		</div>

    
		<!-- Typing container -->
		<div class="typing-container">
			<div class="typing-content">
				<div class="typing-textarea">
					<textarea id="chat-input"
					 
						spellcheck="false"
						placeholder="Message GPX"
						required></textarea>

					<span class="send-btn"
						(click)="sendMessage()"
						>
						<mat-icon>arrow_upward</mat-icon>
						<!-- <mat-icon>stop</mat-icon> -->
					</span>
				</div>

			</div>
		</div>
	</div>

</section>



<ng-template #GETTING_STARTED>
	 <section class="getting-started">
		 <div> Getting Started with GPX </div>

		 <div class="getting-started-card"> 
			 

				<div class="cards">
					 <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, ipsam.</p>
					 <div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores fugit nobis inventore! Corrupti voluptate magni laborum, sint doloribus provident distinctio?</div>
				</div>

				<div class="cards">
					<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, ipsam.</p>
					<div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores fugit nobis inventore! Corrupti voluptate magni laborum, sint doloribus provident distinctio?</div>
			   </div>

			   <div class="cards">
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, ipsam.</p>
				<div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores fugit nobis inventore! Corrupti voluptate magni laborum, sint doloribus provident distinctio?</div>
		       </div>


			   <div class="cards">
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, ipsam.</p>
				<div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores fugit nobis inventore! Corrupti voluptate magni laborum, sint doloribus provident distinctio?</div>
		       </div>


			   <div class="cards">
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, ipsam.</p>
				<div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores fugit nobis inventore! Corrupti voluptate magni laborum, sint doloribus provident distinctio?</div>
		       </div>


			   <div class="cards">
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, ipsam.</p>
				<div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores fugit nobis inventore! Corrupti voluptate magni laborum, sint doloribus provident distinctio?</div>
		       </div>
		 
		 </div>
	 </section>
</ng-template>