<section class="main-content">
	<div class="interaction-page">

		<div class="content-view" *ngFor="let msg of MESSAGE_ENGAGEMENT">
			<div class="message">
				<p>
					{{msg.prompt}}
				</p>
			</div>
			<div class="response">
				<p>
					{{msg.response}}
				</p>
			</div>
		</div>

		 

		<div class="chat-container"></div>

		<!-- Typing container -->
		<div class="typing-container">
			<div class="typing-content">
				<div class="typing-textarea">
					<textarea id="chat-input"
					 
						spellcheck="false"
						placeholder="Message LensGPT"
						required></textarea>

					<span class="send-btn"
						(click)="sendMessage()"
						>
						<!-- <mat-icon>send</mat-icon> -->
						<mat-icon>arrow_upward</mat-icon>
						<!-- <mat-icon>stop</mat-icon> -->
					</span>
				</div>

			</div>
		</div>
	</div>

</section>
