<div class="main-wrapper">
	<mat-drawer-container class="dashboard-container" [hasBackdrop]="false" autosize>
    <mat-toolbar>
		<div class="mat-toolbar-content">
			<div class="mat-toolbar-nav-left">
				<div class="dashboard-sidenav-content">

					<div class>
						<button (click)="drawer.toggle()"
							type="button"
							mat-button>
							<mat-icon aria-hidden="false"
								class="menu-icon"
								aria-label="Example home icon">
								menu
							</mat-icon>
						</button>
					</div>
				</div>
				<span>GPX </span>
			</div>

			<div class="mat-toolbar-nav-right">
				<div class="image-container">
					<img [matMenuTriggerFor]="menu" [src]="userProfile"
						class="user-image"
						alt="profile image">
					<mat-menu #menu="matMenu">
						<button (click)="logout()"
							mat-menu-item>
							Logout
							<mat-icon>power_settings_new</mat-icon>
						</button>
					</mat-menu>
				</div>
			</div>
		</div>
  </mat-toolbar>

		<mat-drawer #drawer
			class="dashboard-sidenav"
			mode="side"
			opened>

			<!-- <button (click)="drawer.toggle()"
			type="button"
			mat-button>
			<mat-icon aria-hidden="false"
				class="menu-icon"
				aria-label="Example home icon">
				menu
			</mat-icon>
		    </button> -->

			<div class="sidebar-wrapper">
				<div *ngFor="let link of links" class="link-container"	routerLinkActive="div-active">	
                <p>{{ link.day }}</p>
					<a *ngFor="let text of link.promptMessages" 	class="nav-link"	routerLinkActive="active">
						{{ text }}
					</a>
				</div>
			</div>
		</mat-drawer>

		 
	<div class="container">
		<router-outlet></router-outlet>
	</div>

	</mat-drawer-container>
</div>
